<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    
    <title></title>
</head>
<body>

    {% block content %}
    
      <div class="container-fluid ">
        <div class="row">
            <h5><small>Improve your task with Excel</small> </h5>
            <div class="col-lg-3">
              <div class="">
                <div class="btn" id="">
                    <img  type="button"  onclick=hide_show_xl_menu() src="{% static 'images/xl-image2.png' %}" alt="">                                     
                    </div>
                    <nav class="sidebar hidden"  id="xl-nav">
                    <div class="text">
                        
                    </div>
                    <ul class="main_side">
                        <li><a class="white-text"  onclick="xl_Assumptions()">Assumptions & Tips <span class="fa fa-caret-down" id="1"></span></a> </li>
                        <li><a class="white-text"  onclick="useful_operations()">Some useful operations<span class="fa fa-caret-down" id="2"></span></a></li>
                        <li><a class="white-text"  onclick="useful_functions()">Some useful functions<span class="fa fa-caret-down" id="3"></span></a></li>
                        <li><a class="white-text"  onclick="useful_operations2()">Practical Examples</a></li>
                        <li><a href="#">Messages</a></li>
                        <li><a href="#">Files</a></li>
                        </li>
                    </ul>
                    </nav> 
                </div>                 
            </div>

            <div class="col-lg-9  sidenav-vl">

                <div class="container"  id="assumptions">
                    <div class="card">
                        <div class="card-header">
                          <small>Assumptions</small>
                        </div>
                        <div class="card-body">
                            <div class="card-body">
                                <p class="card-text">You are already familier with Excel Spread sheet.</p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">You use excel regularly / sometimes on PC or phone for basic task.</p>
                            </div>
                        </div>
                      </div>  
                      
                      
                      <div class="card">
                        <div class="card-header">
                          <small>Tips</small>
                        </div>
                        <div class="card-body">
                            <div class="card-body">
                                <p class="card-text">Think of Excel as your notebook with pages. fortunately, excel has about 255 pages, you just can't use them all</p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Think of Excel as your maths book / drawing sheet with all instruments and formulas you could ever need.</p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Think of Excel as your programming tool or machine you can instruct to do something for you anytime.</p>
                            </div>
                        </div>
                      </div> 
                      
                      <div class="card">
                        <div class="card-header">
                          <small>Limitations</small>
                        </div>
                        <div class="card-body">
                            <div class="card-body">
                                <p class="card-text">Not intended for beginners, if you are new to excel, see </p> <a href="">beginners guide</a>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Intermediate / advance users of excel might not need it.</p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">This tutorial highight one of the many ways excel can help make our task easier.</p>
                            </div>
                        </div>
                      </div> 

                </div>

                
                <!--some useful operations container-->
                <br><hr>
                <div class="container hidden" id="operations" >

                    <!--breadcumb bar-->
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item active" aria-current="page">Named Ranges</li>  
                          <li class="breadcrumb-item"><a href="#data-validation">Data validation</a></li>
                          <li class="breadcrumb-item"><a href="#conditional-formatting">conditional formatting</a></li>
                        </ol>
                      </nav>
                    <!--breadcumb bar-->

                   <div id="named-ranges">
                        <h4>Named Ranges</h4>
                        <div class="card-body">
                            <p class="card-text">We normally performs some operations on certain columns with data in the spreed sheet. Example: we have the following sales data and would like to sum the sales at cell C5 . We would usally go the cell C5 and enter =SUM(B5:B16). This is simple right, but what if we name the range we want to sum as sales_data and refer to it always.</p>
                        </div>
                        <br><hr>
                        <div class="card-body">
                            <h5   style="color: rgb(167, 14, 14);">HOW?</h5>
                            <p class="card-text">Select the data range you want to sum, ie: B5:B16. On your ribbon, go to Formulas>  Named Manager > New.   give a name to your data:  like  sales_data. click on the  reffer to, to see if you selected the right data, then CLOSE. Now in cell C12, enter = sum(sales_data) </p>
                        </div>
                            
                        <center><img src="{% static 'images/name_rng.png' %}" alt="" style="width: fit-content;"></center>
                        <br><hr>
                        <div class="card-body">
                            <div class="card-header"><small style="color: rgb(212, 109, 11);">Editing</small></div>
                            <p class="card-text">You can change the name later if you wish, by using the edit instead of new. you can increase the range for future entery, for instance, go the Named Manager, select the named range, go to refers to, instead of :B16 ,  increase it to :B16000. Now any sales you enter within that column range is captured</p>
                        </div>

                        <br><hr>
                        <div class="card-body">
                            <div class="card-header"><small style="color: rgb(136, 7, 78);">How it improves your daily task</small></div>
                            <p class="card-text">Assuming you often have to refer to your sales data multiples times in different sheets in your workbook. Naming your data saves your from shuffling between sheets to locate your data and dragging it. Wherever, you are in your workbook, just enter =sum(sales_data) <br> if your data spans several columns and rows, you can equally name the whole range and refer to it anywhere in your workbook for further analysis</p>
                        </div>
                        <br><hr>
                        for instance in sheet3, just do this
                        <center><img src="{% static 'images/name_rng2.png' %}" alt="" style="width: fit-content;"></center>
                   </div> 

                    <div id="data-validation">
                        <br><hr>
                        <h4>Data Validation / Drop down</h4>
                        <div class="card-body">
                            <p class="card-text">While working on our spreed sheets, sometimes we would prefer getting some sort of drop down list of items so we can select from, or probably restrict a particular cell or range to accept only a specific type of data. This is where data validation comes in handy. </p>
                            <p class="card-text">For instance you have a list of customer at range B4:B10. you want to assign a customer a certain locations, say Accra,Kumasi,Tema. you want to avoid copy and paste or typing every time. What do you do? </p>
                        </div>
                        <br><hr>
                        <div class="card-body">
                            <h5   style="color: rgb(167, 14, 14);">HOW?</h5>
                            <p class="card-text">select the cell or range you want to get the drop down list, in this case cell E5:E7, On the ribbon, go to <br>Data <br>Data Validation <br>Select List from Allow  <br>click on source, move to customer list and select range B4:B10  <br>If you had  <a href="#named-ranges"> name your range </a> Then at  source, you could enter =(named_range) and that should work as well </p>
                        </div>
                        <center><img src="{% static 'images/data_val1.png' %}" alt="" style="width: fit-content;"></center>
                        <br><hr>
                        <div class="card-body">
                            <div class="card-header"><small style="color: rgb(212, 109, 11);">Editing</small></div>
                            <p class="card-text">To clear the data validation, following the procedure above, then click clear all from the dialog box, you can check the box to clear from all cells / range with that same settings.</p>
                        </div>
                        <br><hr>
                        <div class="card-body">
                            <div class="card-header"><small style="color: rgb(136, 7, 78);">How it improves your daily task</small></div>
                            <p class="card-text">Aside giving you a handy drop down tool to select from, it guards you against certain unintended errors which may have gone unnoticed. <br> For instance try to assign Accra to daniel by typing <i>daneil</i> instead of daniel. It throws an error and would not allow it. you can try editting the error message at the data validation dialog box, Error Alert.  to suit your own style</p>
                        </div>
                        <hr>
                        <center><img src="{% static 'images/data_val2.png' %}" alt="" style="width: fit-content;"></center>
                        
                        <br><hr>
                        <div class="card">
                            <div class="card-header">
                              <small>Simple Application</small>
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <p class="card-text">You have sales data for several years and would like to return sales value for a specific months within a specific year. So create a year list and month list. Afterwards, at cell J7, create a drop down list for year, at J8:J9, creates a dropdown list for months as well   <br> Now you can select the year, startMonth, endMonth</a>
                                    
                                        <center><img src="{% static 'images/data_val3.png' %}" alt="" style="width: fit-content;"></center> <br><hr>
                                        <center><img src="{% static 'images/data_val4.png' %}" alt="" style="width: fit-content;"></center>
                                </div>                               
                            </div>
                          </div>                    
                    </div>

                    <div id="conditional-formatting">
                        <br><hr>
                        <h4>Conditional formatting | highights</h4>
                        <div class="card-body">
                            <p class="card-text">While working on data in our spread sheet, another great tool at our disposal is conditional formatting. There are several options we can choose from, but my focus will be a simple highighting. Simple but very powerful to easily identity patterns in our data.</p>
                            <p class="card-text">For instance you have data on credit sales and would like to quickly highlight the values values based on certain criteria  <br> 1. All sales above 5,000 should be in red  <br>2. All sales between 5,000 and 2,000 should be in yellow   <br>3. All sales below 2,000 should be in green</p>
                            <p class="card-text">Ooh, you can decide to do that manually, but certainly not when you have 1,000+ data. Just apply conditional formatting to that range of data or the whole column and you headache is gone. conditional-formatting is dynamic, therefore the highlighter will change based on the data entered. </p>
                            
                        </div>
                        <br><hr>
                        <div class="card-body">
                            <h5   style="color: rgb(167, 14, 14);">HOW?</h5>
                            <p class="card-text">select the cell,range or column that has the values or you would like to enter the values. On the ribbon, go the conditional formatting, and select your option. In the case the first option. Now this would be the logic, Anytime I enter a value in the range or column, <br>If it's greater than 5,000 highight it as red  <br>Else if it's between 5,000 and 2,000 highlight it as Yellow  <br>Else if it's less than 2,000 highight it as green.</p>
                            <p class="card-text">You are now testing 3 conditions. So you first choose greater than, then enter 5,000 and the color code, Ok. <br> choose between, then enter 2,000 and 5,000 then your color code, Ok   <br> choose less than, then enter 2,000 then your color code, Ok</p>                           
                        </div>
                        <br><hr>
                        <div class="card-body">
                            <p class="card-text">Say you have this data and what to apply conditional-formatting, select range C5:C16 and apply the rules as above</a>                  
                            <center><img src="{% static 'images/cf1.png' %}" alt="" style="width: fit-content;"></center> <br><hr>
                            <hr>
                            you should have this   
                            <center><img src="{% static 'images/cf2.png' %}" alt="" style="width: fit-content;"></center>
                        </div>
                        <div class="card-body">
                            <div class="card-header"><small style="color: rgb(212, 109, 11);">Editing</small></div>
                            <p class="card-text">You can play along with the various options in conditional-formatting to see the effect. You can clear the rules or manage the rules from the options. in order to avoid an empty cell beign highlighted with a color, try adding another rule which says, if the cell = 0, no color: choose custom format from the drop down list, go to fill and choose no color.</p>
                        </div>
                        <br>
                        <div class="card-header">
                            <small  style="color: rgb(50, 6, 121);">Simple usage</small>
                          </div>
                          <div class="card-body">
                              <div class="card-body">
                                  <p class="card-text">Below is a daily variations for my products, and I can easily spot a pattern in the variations even without any analysis</a>
                                    <center><img src="{% static 'images/cf3.png' %}" alt="" style="width: fit-content;"></center> <br><hr>
                                     
                              </div>                               
                          </div>
                    </div> 

                    <div id="more-useful operations">
                        <br><hr>
                        <h4>more-useful operations to come</h4>
                        
                
                    </div> 
                    <br><br>
                    
                </div>



                <!--some useful functions container-->
                <div class="container"   id="functions">
                    <!--breadcumb bar-->
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item active" aria-current="page">IF</li>  
                          <li class="breadcrumb-item"><a href="#">SUMIF/SUMIFS</a></li>
                          <li class="breadcrumb-item"><a href="#">DAYS/EOMONTH</a></li>
                        </ol>
                      </nav>
                    <!--breadcumb bar-->
                    <h4>IF</h4>
                        <div class="card-body">
                            <p class="card-text"> the IF statement is one of the most powerful logical statement. It check a condition and returns a value you want if the condition is met or not met. The IF logical test comes in handy when you would want a certain feedback / summary / or answer based on certain conditions Or you would want to assign a certain value to something based on a condition. <br> </p>
                        </div>
                        <br><hr>
                        <div class="card-body">
                            <h5   style="color: rgb(167, 14, 14);">syntax?</h5>
                            <p>The syntax for the IF functions is   [ IF(logical_test, [value_if_true], [value_if_false]) ]</p>
                            <br><hr>
                        <div class="card">
                            <div class="card-header"><small>Ex1</small></div>                           
                            <div class="card-body">
                                <div class="card-body">
                                    <p class="card-text">if my total credit sales for this month is more than GHc 100,000, write 'Limit is exceeded', if not, write 'Within Limit'</a>
                                     <p>Enter this formular in the cell you want the result in   </p>  <h3>=IF(SUM(G5:G16)>G18,"Limit exceeded","Within Limit")</h3> 
                                    <center><img src="{% static 'images/if1.png' %}" alt="" style="width: fit-content;"></center> <br><hr>
                                    <p>Try changing the limit or increase some of the credit sales value to see the effect</p>
                                    
                                </div>                               
                            </div>

                            <div class="card-header"><small>Ex2</small></div>                           
                            <div class="card-body">
                                <div class="card-body">
                                    <p class="card-text">You gave 5,000 credit each to some customers as loan and  they are currently paying thier debt. However, you want to group them in two categories in order to take further decision on them. <br> The idea is any customer whose total payment so far is more than 80% of his / her debt should be rated as A, if not rate that customer as B </a>
                                     
                                    <br><button  type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#solutionModal"><small    style="color:rgb(20, 20, 20)">tip</small></button>
                                    <div class="modal fade" id="solutionModal" tabindex="-1" aria-labelledby="solutionModalLabel" aria-hidden="true">
                                        <div class="modal-dialog  modal-dialog-centered ">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h1 class="modal-title fs-5" id="solutionModalLabel">Solution!!</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              There are several ways to look at this, but basically, you could just divide total payment by the loan amount and multiply by 0.8 to get your value
                                            </div>                      
                                          </div>
                                        </div>
                                      </div>
                                   
                                    <p>Enter this formular in the firt cell M6 and drag it over the range   </p>  <h3>=IF((L6/$L$3)>=$M$3,"A","B")</h3> 
                                    <center><img src="{% static 'images/if2.png' %}" alt="" style="width: fit-content;"></center> <br><hr>
                                    <p>If you had error while dragging it, then probably you forgot to lock the cell which contains the loan amount or the percentage. To lock the cell, hit on where you entered the first formular, then on the formular bar, click on the that particular cell refference in the formular. <br> In my case L3 for the loan and M3 for the percentage. Once you've cliked on it press F4 on the keyboard to lock it. There will be a seperate tutotial on cell referencing later.</p>
                                    <br>
                                    You can spice it for visual effect by adding conditional-formatting
                                    <center><img src="{% static 'images/if3.png' %}" alt="" style="width: fit-content;"></center> <br><hr>
                                </div>                               
                            </div>

                          </div>
                        </div>


                </div>




                </div> 



















            </div>
        </div>
      </div>       
    {% endblock %}

</body>
</html>